*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1F2937;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

img{
    width: 150px;
    height: 180px;
    padding: 20px;
    border-radius: 8px;
}

button{
    background-color: #06B6D4;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;

}

h2{
    color: #111827;
}

p{
    padding: 5px 5px;
    font-size: 18px;
    color: #374151;
}

button:hover{
    background-color: #0090a9;
    cursor: pointer;
}

