
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #06213adf
;
}

.logo{
    margin-left:40px;
    font-size: 30px;
    color: white;
}

span{
    color: rgb(246, 246, 20);
}

.login-btn{
    margin-right:60px ;
    padding: 5px 20px;
    border: none;
    background-color: rgba(254, 254, 37, 0.904);
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.login-btn:hover{
    background-color: rgb(255, 255, 2);
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 60px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}