*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Segoe UI", Arial, sans-serif;
}

.navbar{
    height: 50px;
    background-color: #0000009e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar h2{
    margin-left: 30px;
}

.tabs{
    display: flex;
    margin-left: auto;
    padding: 0 70px;
    gap: 70px;
}

.tabs a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 515;
}

.up{
    color: white;
}

h2{
    font-weight: 580;
    color: white;
}

.hero-section{
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
}


.hero-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.travel-insurance{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

    background: rgba(0, 0, 0, 0.6);
    color: white;

    padding: 50px;
    width: 380px;

    border-radius: 10px;
}

h1{
    font-size: 36px;
    font-weight: 500;
}

h3{
    font-weight: 450;
    font-size: 30px;
}

p{
    font-size: 18px;
    line-height: 28px;
}

.read-more{
    padding: 8px 22px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: #000000c0;
    color: white;
    font-weight: 540;
}

.read-more:hover{
    background-color: #000000df;
    cursor: pointer;
}

