*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f8;
}

.login-box{
    width:250px;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px ;
    border-radius: 10px;
    box-shadow: 5px 4px 20px #bcbbbb;
}

input{
    margin: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    width: 220px;
    border-color: #cccccc;
     font-size: 14px;
    color: #000000;
    font-weight: 520;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


button{
    width: 150px;
    padding: 6px 10px;
    margin: 10px;
    background-color: #2563eb;
    color: #ffffff;
    font-size: 15px;
    border-style: none;
    border-radius: 8px;
    font-weight: 550;
}

h2{
    color: #333333;
}

p{
    margin: 10px;
}

button:hover{
    background-color: #105cfe;
    box-shadow: 2px 3px 15px #105cfe;
    cursor: pointer;
}