html,body{
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica;

}

.container{
    margin: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

/* @media (max-width: 950px){
   .cards{
      flex-direction: column;
   }
} */


.card{
    width: 200px;
    border: 2px solid black;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 2px 8px 25px black;
    transition: box-shadow 0.3s ease;
}

.card:hover{
    box-shadow: 6px 10px 30px black;
    cursor: pointer;
}

.photo{
    width: 100%;
    height: 160px;
    overflow: hidden;   
    border-radius: 50%;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

p{
    text-align: center;
    font-weight: 545;
}

.feedback{
    margin-top: 10px;
    line-height: 20px;
    font-size: 16px;
}

.name{
    margin-top: 10px;
    color: #f59e0b;
}

.student{
    font-size: 13px;
    color: #000000;
}

h2{
    text-align: center;
    margin: 20px;
    font-size: 35px;
    color: #f59e0b;
}

.comma{
    color: #f59e0b;
    font-size: 25px;
}